PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

VERSION=

GLOBAL_PREFIX=
SWAGGER_PATH=

JWT_SECRET=
ACCESS_TOKEN_TTL_SEC=
REFRESH_TOKEN_TTL_SEC=
LOGIN_MAX_ATTEMPTS=
LOGIN_WINDOW_SEC=
LOGIN_LOCK_MINUTES=